<h1><%= @category.name %> Articles </h1>
<div>
	<% @category.articles.order(created_at: :desc).each do |category_article| %>
	<li><%= link_to category_article.title, category_article %> Created on: <%= category_article.created_at %></li>
	<% end %>
</div>