<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Wikiful: Semper Ubi Sub Ubi", root_path, :class => "brand" %>
			<div style="float:right;">
				<div class="btn-group">
					<%= link_to "Signup", new_user_path, :class => "btn btn-default" %>
					<button type="button" class="btn btn-default">Login</button>
				</div>
			</div>
		</div>
	</div>
</div>